<div id="lateral">

    <div class="caixa">
        <h2>Entrevistas</h2>
        <div class="caixa-conteudo">
            <ul>
                <% noticia.forEach((el,i)=>{ %>
                    <li>
                        <a href="#">
                            <%= el.entrevistado %>
                        </a> 
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>

</div>


