<div id="lateral">

    <div class="caixa">
        <h2>Entrevistas</h2>
        <div class="caixa-conteudo">
            <ul>
                <% noticia.forEach((el,i)=>{ %>
                    <li>
                        <a href="#">
                            <%= el.entrevistado %>
                        </a> 
                    </li>
                <% }) %>
            </ul>
        </div>

        <div class="caixa">
            <h2>News</h2>
            <div class="caixa-conteudo">
                <form action="/leitor/cadastrar" method="post">
                    <div>
                        <label for="email">Email:</label>
                        <input type="text" name="email" id="email" placeholder="Email">
                    </div>
                    <div>
                        <input class="submit" type="submit" value="cadastrar" >
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


