

    <div id="topo">
        <h1 class="logo">noticias cidade</h1>
        <ul  id="navegacao">
            <li class="primeiro navegacao" >
                <a href="/">HOME</a>
            </li>
            <li class="navegacao">
                <a href="/brasil">Brasil</a>
            </li>
            <li class="navegacao">
                <a href="/internacional">Internacional</a>
            </li>
            <li class="navegacao">
                <a href="/economia">Economia</a>
            </li>
            <li class="navegacao">
                <a href="/saude">Saude</a>
            </li>
            <li class="navegacao">
                <a href="/ciência">Ciência</a>
            </li>
            <li class="navegacao">
                <a href="/fotos">Fotos</a>
            </li>
        </ul>
    </div>