<%- include('layout/head.ejs') %> 
    <%- include('partials/topo.ejs') %>

    <div class="conteudo clear">

        <div id="primario">
            primario
        </div>
    
        
    
        <%- include('partials/lateral.ejs') %> 
        
    </div>

<%- include('layout/footer.ejs') %> 