<%- include('layout/head.ejs') %> 

    <%- include('partials/topo.ejs') %> 

    

    <div class="conteudo clear">

        <div id="primario">
            primario
        </div>
    
        <div id="secundario">
            secundario
        </div>
    
        <div id="lateral">
            lateral
        </div>
        
    </div>
    
    

<%- include('layout/footer.ejs') %> 